@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebApplication1.Models.User>
@{
    ViewData["Title"] = "Управление пользователями";
}

@functions
{
    public async Task NotifyDataIsEmpty() //разобраться
    {
        <h3>Данные отсутствуют.</h3>
        <a asp-action="Index">Перезагрузить страницу</a>
    }
}

<h1>@ViewData["Title"]</h1>

@if (Model == null)
{
    NotifyDataIsEmpty();
    return;
} else if (Model.Count == 0)
{
    NotifyDataIsEmpty();
    return;
}
<a asp-controller="User" asp-action="AddPage">Добавить пользователя</a>
<table class="table mt-4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Login</td>
                <td>@user.Password</td>
                <td>
                    <form method="POST" asp-action="Edit">
                        <input type="hidden" name="id" value="@user.Id"/>
                        <button type="submit" class="btn btn-info btn-sm">Выбрать</button>
                    </form>

                    <form method="POST" asp-action="Delete" class="d-inline">
                        <input type="hidden" name="id" value="@user.Id"/>
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>